* {
    margin: 0%;
    padding: 0%;


}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #e2e0e0;

}

#main {
    height: 100%;
    width: 100%;


}

#headder {
    height: 50px;
    width: 100%;
    background-color: #131921;
    color: white;
    display: flex;
    align-items: center;




}

#imgone img {
    height: 40px;
    width: 40px;
    background-color: transparent;
    margin: 10px;


}

#adressone {
    height: 50px;
    width: 100px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;


}

#imgloc img {
    height: 10px;
    width: 10px;
}

#searchbar {
    margin: 10px;
    height: 40px;
    width: 850px;

    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 3px solid blue;



}

#togle {
    background-color: rgb(246, 245, 245);
    height: 100%;
    width: 30px;
    overflow: hidden;
    color: black;
    display: flex;
    align-items: center;


}

#searchone {
    background-color: white;
    height: 100%;
    width: 850px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;


}

#searchone input {
    height: 100%;
    width: 100%;
}

#searchicon {

    height: 100%;
    width: 40px;
    overflow: hidden;
    background-color: #febd69;


}

#searchicon img {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

#lan {
    width: 80px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#lan img {
    height: 30px;
    width: auto;
    background-color: white;
    border-radius: 5px;

}

#signup {
    height: 30px;
    width: auto;
    border: 2px solid yellow;
    border-radius: 5px;
    margin: 10px;
}

#returnone {
    height: 30px;
    width: auto;
    border: 2px solid yellow;
    border-radius: 5px;
    margin: 10px;
}

#cart1 {
    height: 30px;
    width: 110px;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid yellow;
    display: flex;
    align-items: center;
    justify-content: center;


}

#headingfour {

    height: 30px;
    width: 50%;
    margin: 5px;
}


#headingimg img {
    height: 30px;
    width: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

#info {
    height: 35px;
    width: 100%;
    background-color: #232f3e;
    display: flex;
    align-items: center;
    justify-content: center;



}

.infobar {
    height: 25px;
    width: 70px;
    margin: 10px;
    background-color: transparent;
    display: flex;
    border-radius: 3px;
    border: 2px solid transparent;
    transition: border 0.1s;
    align-items: center;
    justify-content: center;
    color: white;


}

.infobar:hover {
    border: 2px solid yellow;
}

#id-4 {
    width: 80px;

}

#id-14 {
    width: 280px;
    height: 100%;
    margin-left: 2px;
    margin-right: 0%;

}

#id-1 {
    width: 50px;
}

#id-6 {
    width: 100px;
}

#id-2 {
    width: 50px;
}

#id-7 {
    width: 130px;
}

#id-8 {
    width: 50px;
}

#id-9 {
    width: 120px;
}

#id-10 {
    width: 50px;
}

#id-14 img {
    height: 100%;
    width: 100%;
}

#id-13 {
    margin-right: 1px;
    margin-left: 2px;
}

.bgimg {
    height: 500px;
    width: 100%;
    overflow: hidden;
    background-color: #e2e0e0;
    position: relative;

}

#img-1 img {
    height: 500px;
    width: 100%;
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%)
}

.box {

    height: 390px;
    width: 400px;
    background-color: white;


    justify-content: center;
    margin: 20px;

}

#probox1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-color: transparent;
}

#probox2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-color: transparent;
}

.box2 {

    height: 390px;
    width: 400px;
    background-color: white;

    margin: 20px;
    margin-top: 40px;

}

.boximg1 {
    background-color: transparent;
    height: 350px;
    width: 380px;
    margin: 10px;



}

.imglink {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.boximg2 {
    background-color: transparent;
    height: 350px;
    width: 380px;
    margin: 10px;
}

.imglinkbox-2 {
    display: flex;
    justify-content: center;
    margin: 10px;
}

#boximg-1 img {
    height: 100%;
    width: 100%;
}

#imgbox-2 img {
    height: 100%;
    width: 100%;
}

#imgbox-3 img {
    height: 100%;
    width: 100%;
}

#pimgbox-4 img {
    height: 100%;
    width: 100%;
}

#pimgbox-5 img {
    height: 100%;
    width: 100%;
}

.project-video {
    height: 100%;
    width: 100%;
}

.impvid {
    background-color: transparent;
   margin-top: 20px;
   margin-bottom: 0%;
    height: 350px;
    width: 95%;
    display: flex;

    justify-content: center;
}

.impvidsec {
    margin-left: 10px;
    background-color: transparent;
    height: 300px;
    width: 90%;
    border-radius: 7px;
    overflow: hidden;
}

.vid {
    height: 100%;
    width: 100%;
}
.recommendations{
    background-color: white;
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.recbar{
    margin-top: 2px;
    height: 100px;
    width: 95%;
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#signin{
    height: 30px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  border-radius: 8px;
  background-color: #febd69;
  margin: 30px;


}
#top{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #232f3e;
    color: white;
}
.infolast1{
    height: 400px;
    width: 100%;
    display: flex;
     align-items: center;
    justify-content: center;
    background-color: #1c222a;
    color: white;

}
.dezine{
    margin: 20px;
}
.lastinfo{
    background-color: #232f3e;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.infolast-2{
   
    height: 40px;
    width: 90px;
    border: 1px solid white;
     background-color: transparent;
     border-radius: 3px;
     margin: 80px;

}
#logo img{
    height: 100%;
    width: 100%;
    overflow: hidden;

}
#country img{
     height: 100%;
    width: 100%;
    overflow: hidden;
}
#language img{
 height: 100%;
    width: 100%;
    overflow: hidden;
}
.disclamer-1{
    height: 100px;
    width: 100%;
    background-color: #232f3e;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
#disclamer h3{
    color: red;
}



